/*Smooth scroll*/

/*END - Smooth scroll*/
/*Resize header*/
.big {
  height: 120px;
}
.small {
  height: 70px;
  background: pink;
}
header {
  height: 120px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background: #7fc21c;
  box-shadow: 0 4px 10px -2px gray;
}
header .logo h1 {
  font-family: "Kaushan Script", cursive;
  float: left;
  color: #fff;
}
header .navbar-brand img {
  float: left;
  margin-right: 15px;
}
header .logoImg {
  height: 110px;
}

/*END - resize header*/
/*MAIN*/
body > .container {
  margin-top: 80px;
}

/*Footer*/

footer {
  background: #ff7900;
  border-top: 1px solid #fbb36b;
  padding: 10px 0;
}
footer a,
footer p,
footer span {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
footer a:hover {
  text-decoration: underline;
  color: rgb(212, 211, 211);
}

/*End - Footer*/
