/*Smooth scroll*/

/*END - Smooth scroll*/
/*Resize header*/
.big {
  height: 120px;
}
.small {
  height: 70px;
  background: pink;
}
header {
  height: 120px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background: #7fc21c;
  border-bottom: 1px solid #bcdd5a;
}
header .logo {
  font-family: "Kaushan Script", cursive;
}
header .logoImg {
  height: 110px;
}
/*END - resize header*/
